{{ ansible_managed | comment }}

# .bashrc

# User specific aliases and functions

alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias du='du -sch'

alias ping='ping -c 5'
alias pong='ping google.com.vn'

alias ls='ls --color=auto'
alias ll='ls -l'
alias l='ls -l'
alias lll='ls -l'
alias p='curl httpbin.org/ip'
alias pv='pv -peafbt'

alias r='openssl rand -base64 15'
alias tailf='tail -f'
alias bcat='bat'
alias rg='rgrep'
alias find='fd'
alias fd='fdfind'

export HISTTIMEFORMAT="%F %T "
export HISTSIZE=999999
export HISTFILESIZE=999999999

if [ $UID != 0 ]; then
  PS1='\[\033[01;32m\]\u@\H\[\033[00m\]:\[\033[01;34m\]\w\[\033[00m\]\$ '
else
  PS1='\[\033[01;31m\]\u@\H\[\033[00m\]:\[\033[01;34m\]\w\[\033[00m\]\$ '
fi
