{{ ansible_managed | comment }}

UPDATE_INTERVAL=3600
LOG_MAXIMUM_ENTRIES=500
LOG_MINIMUM_UPTIME=1h
MAIL_MINIMUM_UPTIME=1d
MAIL_MINIMUM_POSITION=10
PIDFILE=/run/uptimed/uptimed.pid
MILESTONE=5d:five days
MILESTONE=10d:ten days
MILESTONE=25d:twenty-five days
MILESTONE=50d:fifty days
MILESTONE=10w:ten weeks
MILESTONE=75d:seventy-five days
MILESTONE=100d:hundred days
MILESTONE=150d:hundred and fifty days
MILESTONE=25w:twenty-five weeks
MILESTONE=200d:two hundred days
MILESTONE=250d:250 days
MILESTONE=300d:three hundred days
MILESTONE=50w:fifty weeks
MILESTONE=1y:one year
MILESTONE=400d:four hundred days
MILESTONE=500d:five hundred days
MILESTONE=100w:hundred weeks
MILESTONE=750d:750 days
MILESTONE=1000d:thousand days
