#
# Slack callback plugin (you can use incoming webhook (legacy api) or create a new app for hooking event
# https://api.slack.com/custom-integrations#migrating_to_apps
#
export SLACK_CHANNEL="#infra-logs"
export SLACK_USERNAME="ansible-bot"
export SLACK_VALIDATE_CERTS="yes"
export SLACK_WEBHOOK_URL=""

# Grafana Annotations
export GRAFANA_API_KEY=""
export GRAFANA_DASHBOARD_ID=""
export HTTP_AGENT="ansible"
export GRAFANA_VALIDATE_CERT="yes"
